<div class="container p-5">
    <div class="row">
        <app-pet-card class="col-sm-4 col-xs-6 mb-4"></app-pet-card>
        <app-pet-card class="col-sm-4 col-xs-6 mb-4"></app-pet-card>
        <app-pet-card class="col-sm-4 col-xs-6 mb-4"></app-pet-card>
        <app-pet-card class="col-sm-4 col-xs-6 mb-4"></app-pet-card>
        <app-pet-card class="col-sm-4 col-xs-6 mb-4"></app-pet-card>
        <app-pet-card class="col-sm-4 col-xs-6 mb-4"></app-pet-card>
        <app-pet-card class="col-sm-4 col-xs-6 mb-4"></app-pet-card>
        <app-pet-card class="col-sm-4 col-xs-6 mb-4"></app-pet-card>
    </div>
</div>