/* You can add global styles to this file, and also import other style files */
main {
    background-color: #f0f2f2;
}
.navbar-expand-md {
    background-color: rgba(62, 171, 120, 0.65);
}
.container {
    padding-top: 3rem;
    padding-bottom: 3rem;
}